.ConnectionState {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-left: 1lvw;
    font-weight: 800;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -3px 3px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000;
}