.MyForm {
    display: flex;
    width: 100%;
    margin: 1lvh 0lvw;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}

.MyForm input {
    min-width: 60%;
}

.MyForm button {
    min-width: 30%;
}