.ConnectionManager {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0lvh 1lvw;

}

.ConnectionManager button {
    min-width: 15%;
    /* background: grey; */
}

.Grey {
    background-color: grey;
}

.White {
    /* style: disabled; */
    background-color: white;
}