.Log {
    margin: 1dvh 0dvw;
    color: rgba(255, 255, 255, 0.95);
    /* overflow-y: scroll; */
    display: flex;
    align-items: start;
    justify-content: flex-end;
    flex-direction: column;
    max-height: 50dvh;
    margin-top: 1rem;
    pointer-events: all;
    user-select: all;
    word-break: break-all;
    width: 100%;
}

.Messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}