@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
}



*, *::before, *::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* overflow: scroll; */
}
/* GLB */
canvas {
  width: 100%;
  height: 100%;
  display: block; /* Removes any extra space */
}

body {
  background: #101010;
  color: white;
  font-family: 'Inter var', sans-serif;
}


.clock {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 5em;
  font-variant-numeric: tabular-nums;
  letter-spacing: -5px;
}

.checkpoint {
  position: absolute;
  top: 28%;
  left: 50%;
  font-weight: 500;
  font-size: 1em;
  font-variant-numeric: tabular-nums;
  width: 200px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.checkpoint .green {
  color: green;
}

.checkpoint .red {
  color: red;
}

/* --------------- AUTH --------------- */

.auth-providers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-provider {
  font-size: 0.7em;
  border: 1px solid transparent;
  border-bottom: 3px solid #a0a0a0;
  border-radius: 3px;
  padding: 8px 12px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 200px;
  height: 45px;
}

.auth-provider:hover {
  border-bottom: 1px solid #a0a0a0;
}

.auth-provider svg {
  width: 24px;
  margin-right: 10px;
}

.auth-header {
  color: #b0b0b0;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
}

/* --------------- Leaderboard --------------- */

.finished {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  background: #101010;
  bottom: 0;
  position: absolute;
  width: 100vw;
  z-index: 10;
}

.finished-header {
  max-height: 120px;
}

.finished-leaderboard {
  flex: 1;
  overflow-y: scroll;
}

.finished-auth {
  height: auto;
}

.finished-restart {
  align-items: center;
  display: flex;
  height: 60px;
}

.leaderboard-name img {
  position: relative;
  right: 2px;
  margin-right: 2px;
}

.leaderboard-bottom li {
  margin-bottom: 10px;
  text-align: center;
  counter-increment: listCounter;
}

.leaderboard b {
  margin-right: 5px;
}

.leaderboard li {
  margin-bottom: 10px;
  text-align: center;
  counter-increment: listCounter;
  justify-content: space-between;
}

.leaderboard-bottom {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  counter-reset: listCounter;
  max-height: auto;
  overflow: auto;
}

/* --------------- COLORPICKER --------------- */

.pickcolor-container {
  margin-top: 16px;
  width: 346px;
}

/* --------------- SPEEDOMETER --------------- */

.speed {
  /* width: min-content; */
  font-size: 2.0em;
  font-weight: 200;
  font-variant-numeric: tabular-nums;
  letter-spacing: -2px;
  display: flex;
  align-items: start;
  /* justify-content: end; */
  flex-direction: column;
  /* margin-left: 350px; */
  padding: 2lvh 1vw;
  position: absolute;
  right: 0px;
  bottom: 160px;
  overflow: hidden;
}

.speed span {
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: -5px;
}

.speed-gauge {
  position: relative;
  width: 200px;
  top: 4.5vh;
}

.speed-foreground {
  position: absolute;
  width: 100%;
}

.speed-background {
  position: absolute;
  width: 100%;
}

.speed-text {
  position: relative;
  top: 4lvh;
  margin-top: -4lvh;
}

.boost-bar {
  position: relative;
  top: 6lvh;
}

.boost-bg-path {
  stroke: #132237;
  stroke-width: 13px;
  stroke-dasharray: 295px;
}

.boost-path {
  stroke-width: 9px;
  stroke-dasharray: 100%;
}

.boost-path.blink {
  animation: boostBlink 0.5s infinite;
}

@keyframes boostBlink {

  100%,
  0% {
    stroke: #500;
  }

  60% {
    stroke: #ff0000;
  }
}

.boost-text {
  stroke: #fff;
  fill: #fff;
  font-size: 13px;
  letter-spacing: 0.1px;
  font-weight: bold;
}

/* --------------- HELP --------------- */

.help {
  position: absolute;
  left: 1lvw;
  top: 1lvw;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(-100%);
}

.popup.open {
  opacity: 1;
  transform: translateY(0);
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 3vw;
  background: rgba(0, 0, 0, 0.95);
  z-index: 100;
  overflow: scroll;
}

.popup-item {
  display: flex;
  justify-content: space-between;
  width: 274px;
  height: 25px;
  padding-right: 24px;
  margin: 0em 0;
}

.popup-item:hover {
  padding-right: 0;
}

.keys-row:hover .add-button {
  display: flex;
}

.keys-row .add-button {
  display: none;
}

.with-error {
  color: rgb(112, 7, 7);
}

.popup-item-keys {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-item-key {
  position: relative;
  min-height: auto;
  font-size: 0.7em;
  min-width: 24px;
  border: 1px solid transparent;
  border-bottom: 3px solid #a0a0a0;
  border-radius: 3px;
  padding: 2px 5px;
  margin: 2px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key-button:hover:before {
  width: 100%;
  content: '-';
  position: absolute;
  background-color: #fff;
}

.hovered-item {
  cursor: pointer;
  background: transparent;
  color: #999;
  border: 1px dashed #999;
}

button {
  min-width: 32px;
  min-height: 32px;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: white;
  color: black;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 9999;
  overflow: scroll;
}

.stack {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #606060;
}

.bg {
  background: #101010;
}

.fullscreen .logout {
  background: transparent;
  border: none;
  width: auto;
  color: white;
  display: block;
  margin: 10px auto;
}

.fullscreen .start-link {
  text-decoration: none;
  transition: all 1s;
  width: 20%;
  text-align: center;
}

.fullscreen.loading .start-link {
  cursor: auto;
  color: #606060;
}

.fullscreen.loaded .start-link {
  cursor: pointer;
  color: white;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

.pmndrs-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #808080;
  padding: 40px;
  pointer-events: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 10px;
  line-height: 1.5em;
}

.pmndrs-menu.left {
  justify-content: flex-start;
}

.pmndrs-menu.right {
  justify-content: flex-end;
}

.pmndrs-menu>div {
  word-wrap: none;
  word-break: none;
  white-space: pre;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.pmndrs-menu>div b {
  font-weight: 600;
  color: #b0b0b0;
}

.pmndrs-menu a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.pmndrs-menu a:hover {
  text-decoration: underline;
  color: inherit;
}

.nosound {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 24px;
  width: 24px;
  background: url(./textures/no_sound.png) no-repeat;
  background-size: 24px 24px;
  opacity: 1;
  animation: hideSoundIcon 3s forwards;
}

.key-input-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #101010;
  border: 1px solid #a0a0a0;
}

.key-input {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes hideSoundIcon {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes hideSoundIcon {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* MY STUFFS */

.hidden {
  display: none;
}

.wrapper {
  /* position: relative; */
  bottom: 0;
}

.dashboard {
  /* position: absolute; */
  /* bottom: 2lvh; */
  /* right: 2lvw; */
  box-sizing: border-box;
  /* z-index: 2; */
  user-select: none;
  pointer-events: none;
  padding: 1lvh 1lvw;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  align-items: end;
  height: 100%;
}

.top-dash {}

.dash-bottom {
  display: flex;
  align-items: end;

}

/* fuel and temp gauge */
.misc {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  position: relative;
}

.fuel,
.temp {
  position: absolute;
}

.fuel {
  top: 0;
}

.temp {
  bottom: 0;
}

/* 
.three-d-container {
  position: relative;
  display: flex;
  flex: 2 1;
  width: 100%;
}

.three-d {
  position: relative;
  flex: 1 1;
  width: 100%;
} */

/* button */
.start {
  background-color: rgb(12, 42, 16);
  /* background-image: url('../assets/binary-numbers/1921.jpg'); */
  background-size: contain;
  border-radius: 50%;
  width: 60px;
  height: 50px;
  margin: .5lvh .5lvw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  font-weight: 900;
  color: white;
  text-align: center;
  text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
  /* position: relative; */
  /* filter: brightness(90%); */
  /* opacity: 0.95; */
  /* border: 3px solid black; */
  /* flex: 1; */
  border: 2px solid transparent;
  cursor: pointer;
}

.loading {
  /* opacity: 0.85; */
  filter: brightness(45%);
  border: 2px solid black;
  pointer-events: none;
  user-select: none;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.console {
  min-height: 30lvh;
  max-height: 80lvh;
  width: 40lvw;
  z-index: 1;
  box-sizing: border-box;
  padding: 1lvh 1lvw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 100%;
}

.disconnected {
  background-color: #560505bc;
}


.close {
  padding: 1lvh 1lvw;
  margin: 1lvh 0 0;
}

.overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overlay-left {
  /* justify-content: end; */
  /* align-items: end; */
}

.overlay-right {
  position: absolute;
  right: 0;
  bottom: 0;
  /* justify-content: end; */
  /* align-items: end; */
}